.container{
    border: 2px solid red;
    width: 100vw;
    padding: 2rem;
}

.auction-functionalities{
    margin : 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 150px;
}